.dropdown {
    position: relative;
    font-size: 18px;

  }
  
  .dropdown:last-of-type {
    margin-bottom: 0;
  }
  .dropdown-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }

  .arrow {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  .dropdown-content {
    
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 14px 20px;
  }
  
  .dropdown.open .dropdown-content {
    display: block;
  }
  